<div class="row">
	<div class="col-lg-12">
		<div class="jumbotron">
			<h1>O que eu faço ?</h1>
			<p><%= what %></p>                
			<p><a class="btn btn-primary btn-lg">Leia mais</a></p>
		</div>
	</div>
</div>