<div class="row">
	<div class="col-lg-12">
		<br><br><br>		
		<div class="jumbotron">
			<h1>Whe am I?</h1>
			<p><%= who %></p>                
			<p><a class="btn btn-primary btn-lg">Read More</a></p>
		</div>
	</div>
</div>