*.gem
*.sqlite3
*.swp
*.tmproj
*~
.bundle
.DS_Store
.idea
.rvmrc
.sass-cache
.\#*
coverage
db/database.yml
log/*
pkg
Procfile.local
public/uploads
public/public
rdoc
tmp/*
tmtags
\#*
public/drawing**
public/uploads**
db/schema.rb
public/assets/**
public/cache/**
