<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Enviado por, <%= @name %>.</h1>
    <p>Ele entrou em contato pelo site utilizando o email <%= @email %><br>
    </p>
    <p>
      Mensagem: <%= @message %>.
    </p>
    <p>© 2014 - Kiira Onew Designer Web Site </p>
  </body>
</html>
