@import "superhero/base";
.gallery
{
    display: inline-block;
    margin-top: 20px;
}
// Superhero 3.1.1
// Bootswatch
// -----------------------------------------------------

@import url("//fonts.googleapis.com/css?family=Lato:300,400,700");

// Navbar =====================================================================

.navbar {
  .box-shadow(none);
  border: none;
  font-size: 12px;

  &-default {

    .badge {
      background-color: #fff;
      color: @navbar-default-bg;
    }
  }

  &-inverse {

    .badge {
      background-color: #fff;
      color: @navbar-inverse-bg;
    }
  }
}

// Buttons ====================================================================

.btn {

  font-weight: 300;

  &-default {
    &:hover {
      background-color: darken(@btn-default-bg, 3%);
    }
  }

  &-sm,
  &-xs {
    font-size: 12px;
  }
}

// Typography =================================================================

body {
  font-weight: 300;
}

.text-primary,
.text-primary:hover {
  color: @brand-primary;
}

.text-success,
.text-success:hover {
  color: @brand-success;
}

.text-danger,
.text-danger:hover {
  color: @brand-danger;
}

.text-warning,
.text-warning:hover {
  color: @brand-warning;
}

.text-info,
.text-info:hover {
  color: @brand-info;
}

.page-header {
  border-bottom-color: @table-border-color;
}

.dropdown-menu {

  border: none;
  margin: 0;
  .box-shadow(none);

  > li > a {
    font-size: 12px;
    font-weight: 300;
  }
}

.btn-group.open .dropdown-toggle {
  .box-shadow(none);
}

.dropdown-header {
  font-size: 12px;
}

// Tables =====================================================================

table,
.table {
  font-size: 12px;

  a {
    color: #fff;
    text-decoration: underline;
  }

  .text-muted {
    color: @text-muted;
  }

  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td {
    border-color: transparent;
  }
 }

// Forms ======================================================================

input,
textarea {
  color: @input-color;
}

label,
.radio label,
.checkbox label,
.help-block {
  font-size: 12px;
  font-weight: 300;
}

.input-addon,
.input-group-addon {
  color: @text-color;
}

.has-warning {
  .help-block,
  .control-label,
  .form-control-feedback {
    color: @brand-warning;
  }
}

.has-error {
  .help-block,
  .control-label,
  .form-control-feedback {
    color: @brand-danger;
  }
}

.has-success {
  .help-block,
  .control-label,
  .form-control-feedback {
    color: @brand-success;
  }
}

.form-control:focus {
  .box-shadow(none);
}

.has-warning,
.has-error,
.has-success {
  .form-control:focus {
    .box-shadow(none);
  }
}

// Navs =======================================================================

.nav {
  .open > a,
  .open > a:hover,
  .open > a:focus {
    border-color: transparent;
  }
}

.nav-tabs {
  > li > a {
    color: @text-color;
  }
}

.nav-pills {
  > li > a {
    color: @text-color;
  }
}

.pager {
  a {
    color: @text-color;
  }
}

// Indicators =================================================================

.close {
  opacity: 0.4;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.label {
  font-weight: 300;
}

.alert {
  color: #fff;

  a,
  .alert-link {
    color: #fff;
  }
}

// Progress bars ==============================================================

// Containers =================================================================

.well {
  .box-shadow(none);
}

.panel {
  border: none;

  &-default > .panel-heading {
    background-color: @table-bg-hover;
    color: @text-color;
  }
}

.thumbnail {
  background-color: @well-bg;
  border: none;
}

.modal {
  padding: 0;

  &-header,
  &-footer {
    background-color: @table-bg-hover;
    border: none;
    border-radius: 0;
  }
}

.popover {
  &-title {
    border: none;
  }
}


.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}


html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    background: url('http://images.psxextreme.com/wallpapers/ps3/clean_floor_846.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
    background-color:#333;
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
    padding-top: 100px;
}
.img-responsive,.thumbnail &>img,.thumbnail a &>img,.carousel-inner &>.item &>img,.carousel-inner &>.item &>a &>img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    line-height: 1.428571429;
    border: 1px solid #dddddd;
    border-radius: 4px;
}
.img-rounded {
    border-radius: 0;
}
.img-thumbnail {
    padding: 4px;
    background-color: #2b3e50;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
    line-height: 1.428571429;
    border: 1px solid #dddddd;
    border-radius: 4px;
}
.img-circle {
    border-radius: 50%;
}

p.description {
    margin: 0 0 1px;
}


.right {
    float: right;
}
.right-bottom {
    float: right;
    bottom: 0;
}



// box boostnipp ===============================================

.destacados {
    padding: 20px 0;
    text-align: center;
    & > div {
        & > div {
            padding: 10px;
            border: 1px solid transparent;
            border-radius: 4px;
            transition: 0.2s;
        }
    }
    & > div:hover {
        & > div {
            margin-top: -10px;
            border: 1px solid rgb(200, 200, 200);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
            background: rgba(200, 200, 200, 0.1);
            transition: 0.5s;
        }
    }
}

// lightbox =====================================================
#lightbox {
    .modal-content {
        display: inline-block;
        text-align: center;
    }
    .close {
        opacity: 1;
        color: rgb(255, 255, 255);
        background-color: rgb(25, 25, 25);
        padding: 5px 8px;
        border-radius: 30px;
        border: 2px solid rgb(255, 255, 255);
        position: absolute;
        top: -15px;
        right: -55px;
        z-index:1032;
    }
}

.ekko-lightbox-container {
    position: relative;
}
.ekko-lightbox-nav-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    a {
        z-index: 100;
        display: block;
        width: 49%;
        height: 100%;
        padding-top: 45%;
        font-size: 30px;
        color: #fff;
        text-shadow: 2px 2px 4px #000;
        opacity: 0;
        filter: dropshadow(color=#000000, offx=2, offy=2);
        -webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s;
    }
    a:empty {
        width: 49%;
    }
}
.ekko-lightbox {
    a:hover {
        text-decoration: none;
        opacity: 1;
    }
    .glyphicon-chevron-left {
        left: 0;
        float: left;
        padding-left: 15px;
        text-align: left;
    }
    .glyphicon-chevron-right {
        right: 0;
        float: right;
        padding-right: 15px;
        text-align: right;
    }
    .modal-footer {
        text-align: left;
    }
}




// box image ======================================================

.box-image {
  display: block;
    margin-left: auto;
    margin-right: auto;
  padding: 6px;
  border-radius: 8px;
  color: inherit;
  background-color: rgba(78,93,108,0.4);
  margin-bottom: 34px;
}

.panel-default{
  color: inherit;
  background-color: rgba(78, 93, 108, 0.4);
}

.panel-footer{
  color: inherit;
  background-color: rgba(78, 93, 108, 0.4);
}

.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: rgba(78, 93, 108, 0.4);
    p {
        margin-bottom: 15px;
        font-size: 23px;
        font-weight: 200;
    }
    .container {
        max-width: 100%;
    }
}


.link-not-decorate{
  text-decoration: none;
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
  &:focus{
    color: white;
    text-decoration: underline;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}