<div class="row">
  <div class="page-header">
    <h1 id="forms">Contact Me</h1>
  </div>
  <div class="col-md-6"> <ul class="fa-ul">
          <li><h3><i class="fa-li fa fa-envelope"></i>kiira_onew@gmail.com</a></h3></li>
          <li><h3><i class="fa-li fa fa-phone"></i>+55 12 98274-7616</a></h3></li>
          <li><h3><i class="fa-li fa fa-skype"></i><a href="skype:kiira_onew?userinfo" style="color:white">Kirra Onew</a></h3></li>
          <li><h3><i class="fa-li fa fa-facebook"></i><a href="https://www.facebook.com/kiiraonewartworks?hc_location=timeline" style="color:white">Kiira Artworks</a></h3></li>
      </ul></div>
      <div class="col-md-6">
          <form class="form-horizontal" action="" method="post">
          <fieldset>
    
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Name</label>
              <div class="col-md-9">
               <div class="input-group">
                <span class="input-group-addon"><i class="fa  fa-user"></i></span>
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
              </div>
              </div>
            </div>
                
            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Your E-mail</label>
              <div class="col-md-9">
              <div class="input-group">
                <span class="input-group-addon">@</span>
                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
              </div>
              </div>
            </div>
    
            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">Your message</label>
              <div class="col-md-9">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
              </div>
              </div>
            </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg" style="background-color:rgba(223,105,26,0.6);"><i class="fa fa-send"></i> Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
      </div>
    </div>