<div class="row">
  <div class="page-header">
    <h1 id="forms">Contact Me</h1>
  </div>
  <div class="col-lg-3">
      <ul class="fa-ul">
          <li><h3><i class="fa-li fa fa-envelope"></i>kiira_onew@gmail.com</a></h3></li>
          <li><h3><i class="fa-li fa fa-phone"></i>+55 12 98274-7616</a></h3></li>
          <li><h3><i class="fa-li fa fa-skype"></i><a href="skype:kiira_onew?userinfo" style="color:white">Kirra Onew</a></h3></li>
          <li><h3><i class="fa-li fa fa-facebook"></i><a href="https://www.facebook.com/kiiraonewartworks?hc_location=timeline" style="color:white">Kiira Artworks</a></h3></li>
      </ul>
    </div>
  </div>
</div>