<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <p class="text-success pull-right">© 2014 - Kiira Onew Designer Web Site </p>
    </div>
    <div class="panel-footer">
      <div class="container">
         <div class="col-md-4">          
          <h4 class="text-info">Siga-me</h4>
          <ul class="fa-ul">
            <li><h4><i class="fa-li fa fa-deviantart" style="color: #bdd023"></i><a href="about-us.html">DeviantArt</a></h4></li>
            <li><h4><i class="fa-li fa fa-twitter" style="color: #00A0D1;"></i><a href="about-us.html">Twitter</a></h4></li>
            <li><h4><i class="fa-li fa fa-facebook" style="color: #3B5998;"></i><a href="about-us.html">Facebook</a></h4></li>
            <li><h4><i class="fa-li fa fa-google-plus" style="color: #dd4b39;"></i><a href="about-us.html">Google</a></h4></li>
            <li><h4><i class="fa-li fa fa-pinterest" style="color: #cb2027;"></i><a href="about-us.html">Pinterest</a></h4></li>
            <li><h4><i class="fa-li fa fa-youtube-play" style="color: #bb0000;"></i><a href="about-us.html">Youtube</a></h4></li>
            <li><h4><i class="fa-li fa fa-instagram" style="color:#517fa4;"></i><a href="about-us.html">Instagram</a></h4></li>
            <li><h4><i class="fa-li fa fa-tumblr" style="color: #32506d;"></i><a href="about-us.html">Tumblr</a></h4></li>
          </ul>
        </div>
        <div class="col-md-4">          
          <h4 class="text-info">Site</h4>
            <ul class="nav">
              <li style="color:"><h5><a href="about-us.html">Home</a></h5></li>
              <li><h5><a href="about-us.html">Galleries</a></h5></li>
              <li><h5><a href="about-us.html">News</a></h5></li>
            </ul>
          <h4 class="text-info">Customer Service</h4>
            <ul class="nav">
              <li><h5><a href="about-us.html">About Us</a></h5></li>
              <li><h5><a href="about-us.html">Delivery Information</a></h5></li>
              <li><h5><a href="about-us.html">Privacy Policy</a></h5></li>
              <li><h5><a href="about-us.html">Terms &amp; Conditions</a></h5></li>
            </ul> 
        </div>
        <div class="col-md-4 pull-right">          
        <h4 class="text-info">Like Me on Facebook</h4>
        <ul class="nav">
          <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fkiiraonewartworks&amp;width=289&amp;height=258&amp;colorscheme=dark&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:289px; height:258px;" allowTransparency="true"></iframe>
        </ul> 
      </div>
      </div>
    </div>
  </div>
</div>