<div class="row" style="font-size: 8px">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">          
    <div class="panel panel-default">
      <div class="panel-body">
          <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">          
            <h5 class="text-info">Siga-me</h5>
              <h5> <a href="about-us.html"><i class="fa fa-fw fa-deviantart" style="color: #bdd023"></i> DeviantArt</a> </h5>
              <h5> <a href="about-us.html"><i class="fa fa-fw fa-twitter" style="color: #00A0D1;"></i> Twitter</a> </h5>
              <h5> <a href="about-us.html"><i class="fa fa-fw fa-facebook" style="color: #3B5998;"></i> Facebook</a> </h5>
              <h5> <a href="about-us.html"><i class="fa fa-fw fa-google-plus" style="color: #dd4b39;"></i> Google</a> </h5>
              <h5> <a href="about-us.html"><i class="fa fa-fw fa-pinterest" style="color: #cb2027;"></i> Pinterest</a> </h5>
              <h5> <a href="about-us.html"><i class="fa fa-fw fa-youtube-play" style="color: #bb0000;"></i> Youtube</a> </h5>
              <h5> <a href="about-us.html"><i class="fa fa-fw fa-instagram" style="color:#517fa4;"></i> Instagram</a> </h5>
              <h5> <a href="about-us.html"><i class="fa fa-fw fa-tumblr" style="color: #32506d;"></i>Tumblr</a> </h5>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"">          
            <h5 class="text-info">Like Me on Facebook</h5>
            <ul class="nav">
              <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fkiiraonewartworks&amp;width=289&amp;height=258&amp;colorscheme=dark&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;data-width=auto" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:289px; height:258px;" allowTransparency="true"></iframe>
            </ul> 
          </div>
      </div>
    </div>
  </div>
</div>