<div class="row" style="font-size: 8px">
  <div class="col-lg-12">          
    <div class="panel panel-default">
      <div class="panel-body">
      <div class="col-md-4">          
            <h4 class="text-info">Like Me on Facebook</h4>
            <ul class="nav">
              <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fkiiraonewartworks&amp;width=289&amp;height=258&amp;colorscheme=dark&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;data-width=auto" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:289px; height:258px;" allowTransparency="true"></iframe>
            </ul> 
          </div>
          <div class="col-md-4 col-xs-6">          
            <h4 class="text-info">Siga-me</h4>
              <h4> <a href="about-us.html"><i class="fa fa-fw fa-deviantart" style="color: #bdd023"></i> DeviantArt</a> </h4>
              <h4> <a href="about-us.html"><i class="fa fa-fw fa-twitter" style="color: #00A0D1;"></i> Twitter</a> </h4>
              <h4> <a href="about-us.html"><i class="fa fa-fw fa-facebook" style="color: #3B5998;"></i> Facebook</a> </h4>
              <h4> <a href="about-us.html"><i class="fa fa-fw fa-google-plus" style="color: #dd4b39;"></i> Google</a> </h4>
              <h4> <a href="about-us.html"><i class="fa fa-fw fa-pinterest" style="color: #cb2027;"></i> Pinterest</a> </h4>
              <h4> <a href="about-us.html"><i class="fa fa-fw fa-youtube-play" style="color: #bb0000;"></i> Youtube</a> </h4>
              <h4> <a href="about-us.html"><i class="fa fa-fw fa-instagram" style="color:#517fa4;"></i> Instagram</a> </h4>
              <h4> <a href="about-us.html"><i class="fa fa-fw fa-tumblr" style="color: #32506d;"></i>Tumblr</a> </h4>
          </div>
          <div class="col-md-4">          
            <h4 class="text-info">Site</h4>
            <h5><a href="about-us.html">Home</a></h5>
            <h5><a href="about-us.html">Galleries</a></h5>
            <h5><a href="about-us.html">News</a></h5>
            <h4 class="text-info">Customer Service</h4>
            <h5><a href="about-us.html">About Us</a></h5>
            <h5><a href="about-us.html">Delivery Information</a></h5>
            <h5><a href="about-us.html">Privacy Policy</a></h5>
            <h5><a href="about-us.html">Terms &amp; Conditions</a></h5>
          </div>
          
      </div>
    </div>
  </div>
</div>