<div class="row">
	<div class="col-lg-12">	
		<div class="jumbotron">
			<h1>Kiira Onew</h1>
			<p><%= hero_info %></p>                
			<p><a class="btn btn-primary btn-lg">Read More</a></p>
		</div>
	</div>
</div>