<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1 id="type">Some things about me and my work <i class="fa fa-tasks"></i></h1>
    </div>
  </div>
</div>
<div class="row destacados">
  <div class="col-md-4">
    <div>
      <img src="http://lorempixel.com/200/200/abstract/6/" alt="Texto Alternativo" class="img-circle img-thumbnail">
      <h2>Who am I <i class="fa fa-question"></i></h2> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href=<%= who_path %> class="btn btn-primary" title="Enlace">Leia Mais »</a>
    </div>
  </div>
  <div class="col-md-4">
    <div>
      <img src="http://lorempixel.com/200/200/abstract/8/" alt="Texto Alternativo" class="img-circle img-thumbnail">
      <h2>What do I do <i class="fa fa-question"></i></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href=<%= what_path %> class="btn btn-primary" title="Enlace">Read More »</a>
    </div>
  </div>
  <div class="col-md-4">
    <div>
      <img src="http://lorempixel.com/200/200/abstract/3/" alt="Texto Alternativo" class="img-circle img-thumbnail">
      <h2>Why do I do <i class="fa fa-question"></i></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href=<%= why_path %> class="btn btn-primary" title="Enlace">Read More »</a>
    </div>
  </div>
</div>