<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1 id="forms">Produtos <i class="fa fa-send"></i></h1>
    </div>
  </div>
</div>
<% Products.all.each do |product| %>
	<div class="container">
	    <div class="row">
	        <div class="col-md-4">
	            <div class="panel panel-danger">
	                <div class="panel-heading">
	                    <h4 class="text-center">
	                        <%= product.name %></h4>
	                </div>
	                <div class="panel-body text-center">
	                    <p class="lead">
	                        <strong>R$ <%= product.price %></strong></p>
	                </div>
	                <ul class="list-group list-group-flush text-center">
	                    <li class="list-group-item"><i class="icon-ok text-danger"></i><%= product.description %></li>
	                    <li class="list-group-item"><i class="icon-ok text-danger"></i><%= product.stock %></li>
	                </ul>
	                <div class="panel-footer">
	                    <a class="btn btn-lg btn-block btn-danger" href="http://www.jquery2dotnet.com">Veja mais</a>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
<% end %>