body.rails_admin {
  .navbar .brand {
    background: url('../logo-2.png') no-repeat center left transparent;
    background-size: 40px;
    margin-left: 0;
    padding-left: 45px;
    small { color: #0a7c01; }
  }
  .form-horizontal input, .form-horizontal textarea, input[type="search"] {
    padding: 8px 14px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  .input-append .add-on, .input-prepend .add-on { padding: 8px; }
  .table td { padding: 8px 6px; }
}
a, a:hover, a:focus, a:visited { color: #0a7c01; }
.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus
  { background-color: #0a7c01; color: white }
ul.root_links li:last-child { display: none }
.page-header, .fieldset h4 { display: none }
.label-important { padding: 6px 20px; margin-top: -2px; }
.label-info {
  width: 97.8%;
  border-radius: 4px 4px 0 0;
  padding: 10px;
  background-color: #0a7c01;
}
dd.well {
  border-radius: 0 0 4px 4px;
  margin-left: 0;
  border-color: #0a7c01;
}
.btn { padding: 8px 14px; }
.btn-primary, .btn-info { background-image: none; text-shadow: none; color: white !important; }